{{define "main"}}
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="media/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" type="text/css" media="all" />
	<script src="http://code.jquery.com/jquery-1.9.0.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js" type="text/javascript"></script>
	<script src="media/js/scr.js" type="text/javascript" ></script>
</head>
<body>
	<div class="head">
		<div class="rightside">User: {{.UserName}}. <a href="{{.LogoutUrl}}">Sign out</a></div>
	</div>
	<div id="btAdd" class="bt">Add</div>
	<div class="table w100" id="data">
		<div class="row">
			<div class="cell w10 header">Name</div>
			<div class="cell w40 header">URL</div>
			<div class="cell w10 header">Check type</div>
			<div class="cell w20 header">Emails</div>
			<div class="cell w5 header">Edit</div>
			<div class="cell w5 header">Delete</div>
		</div>
	</div>
	<div id="addDialog">
		<div class="table w100">
			<div class="row">
				<div class="cell w30">Name</div>
				<div class="cell w60"><input name="name" type="text" id="teName" class="w100"/></div>
			</div>
			<div class="row">
				<div class="cell w30">Url</div>
				<div class="cell w60"><input name="url" type="text" id="teUrl" class="w100"/></div>
			</div>
			<div class="row">
				<div class="cell w30">Check type</div>
				<div class="cell w60"><input name="chktype" type="text" id="teChkType" class="w100"/></div>
			</div>
			<div class="row">
				<div class="cell w30">Emails</div>
				<div class="cell w60"><input name="emails" type="text" id="teEmails" class="w100"/></div>
			</div>
		</div>
	</div>
	<div class="head">Author: K. Pawlik (<a href="mailto:kpawlik78@gmail.com">kpawlik78@gmail.com</a>)</div>
	<div id="delDialog">
	<p><span class="ui-icon ui-icon-trash" style="float: left; margin: 0 7px 20px 0;"></p><p id="delDialogText"></p>
	</div>
	<div id="errDialog">
	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></p><p id="errDialogText"></p>
	</div>
	<div id="busyDialog">
		<div id="busy">LOADING...</div>
	</div>
	<img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
</body>
</html>
{{end}}